@page
@model DeliverCertificateModel
@{
    ViewData["Title"] = "DeliverCertificate";
}

<section id="main">
    <h1>Certificate Delivery</h1>
</section>
<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="form-horizontal leftMarginDefault">
        <div class="form-group">
            <div>CertificateId:</div>
            <input asp-for="CertificateDeliverVm.CertificateId" class="form-control" />
        </div>
        <div class="form-group">
            <div>Status:</div>
            <input asp-for="CertificateDeliverVm.Status" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Cancel" asp-page-handler="Cancel" />
            <input type="submit" value="Save" asp-page-handler="Save" />
        </div>
    </div>
</form>

